*::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.navbar .container .navbar_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .navbar_box .navbar_small_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}
.navbar .container .navbar_box .navbar_small_box a:hover {
  font-size: 15px;
  color: #35B8BE;
}
.navbar .container .navbar_box .navbar_small_box .small_img {
  background-color: #35B8BE;
  padding: 10px 15px;
}

.door .container .door_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.door .container .door_box .door_text h2 {
  font-size: 60px;
}
.door .container .door_box .door_text h2 b {
  color: #35B8BE;
}
.door .container .door_box .door_text button {
  background-color: #35B8BE;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  color: white;
}
.door .container .door_box .door_text p {
  color: #546285;
  width: 400px;
}
.door .container .door_box .door_text h4 {
  font-size: 13px;
}
.door .container .door_box .door_text h4 b {
  color: #35B8BE;
}

.fresh {
  margin-top: 30px;
}
.fresh .container .fresh_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fresh .container .fresh_box .fresh_text h2 {
  color: #35B8BE;
  font-size: 51px;
}
.fresh .container .fresh_box .fresh_text p {
  width: 400px;
  color: #546285;
}
.fresh .container .fresh_box .fresh_text button {
  padding: 15px 20px;
  background-color: #35B8BE;
  border: none;
  border-radius: 5px;
  color: white;
}

.how {
  margin-top: 50px;
}
.how .container .how_text {
  text-align: center;
  color: #35B8BE;
  font-size: 50px;
}
.how .container .how_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.how .container .how_box .how_small {
  width: 300px;
}
.how .container .how_box .how_small h3 {
  text-align: center;
}
.how .container .how_box .how_small p {
  text-align: center;
  color: #546285;
}

.our {
  background-color: #F5FBFC;
  background-size: 100%;
}
.our .container .our_box1 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.our .container .our_box1 h2 {
  text-align: center;
  color: #35B8BE;
}
.our .container .our_box1 p {
  text-align: center;
  color: #546285;
}
.our .container .our_box1 .our_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our .container .our_box1 .our_list .our_item button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}
.our .container .our_box1 .our_list .our_item button:hover {
  background-color: #35B8BE;
}
.our .container .our_box2 .our_small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.our .container .our_box2 .our_small .our_small1 {
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.our .container .our_box2 .our_small .our_small1 img {
  margin-left: 20px;
}
.our .container .our_box2 .our_small .our_small1 .boxca {
  margin-left: 20px;
}
.our .container .our_box2 .our_small .our_small1 .boxca p {
  color: #546285;
}
.our .container .our_box2 .our_small .our_small1 .boxca .box_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}
.our .container .our_box2 .our_small .our_small1 .boxca .box_list .box_item button {
  padding: 10px 15px;
}
.our .container .our_box2 .our_small .our_small1 .boxca .box_list .box_item .btn_1 {
  padding: 10px 15px;
  background-color: #35B8BE;
  border: none;
  border-radius: 5px;
}
.our .container .our_box2 .our_small .our_small2 {
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-left: 40px;
}
.our .container .our_box2 .our_small .our_small2 img {
  margin-left: 20px;
}
.our .container .our_box2 .our_small .our_small2 .boxca {
  margin-left: 20px;
}
.our .container .our_box2 .our_small .our_small2 .boxca p {
  color: #546285;
}
.our .container .our_box2 .our_small .our_small2 .boxca .box_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}
.our .container .our_box2 .our_small .our_small2 .boxca .box_list .box_item button {
  padding: 10px 15px;
}
.our .container .our_box2 .our_small .our_small2 .boxca .box_list .box_item .btn_1 {
  padding: 10px 15px;
  background-color: #35B8BE;
  border: none;
  border-radius: 5px;
}

.see .container .see_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.see .container .see_box .see_text h2 {
  color: #35B8BE;
  font-size: 50px;
}
.see .container .see_box .see_text p {
  width: 400px;
}
.see .container .see_box .see_text button {
  padding: 15px 20px;
  background-color: #35B8BE;
  color: white;
  border: none;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */