*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar{
    .container{
        .navbar_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navbar_small_box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 450px;
                a:hover{
                    font-size: 15px;
                    color: #35B8BE;
                }
                .small_img{
                background-color: #35B8BE;
                padding: 10px 15px;
                }
            }
        }
    }
}

.door{
    .container{
        .door_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .door_text{
                h2{
                    font-size:60px;
                    b{
                        color: #35B8BE;
                    }
                }
                button{
                    background-color: #35B8BE;
                    padding: 15px 20px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                }
                p{
                    color: #546285;
                    width: 400px;
                }
                h4{
                    b{
                        color: #35B8BE;
                    }
                    font-size: 13px;
                }
            }
        }
    }
}

.fresh{
    margin-top: 30px;
    .container{
        .fresh_box{
            display: flex;
            align-items:center;
            justify-content: space-between;
            
            .fresh_text{
                h2{
                    color: #35B8BE;
                    font-size: 51px;
                }
                p{
                    width: 400px;
                    color:  #546285;
                }
                button{
                    padding: 15px 20px;
                    background-color: #35B8BE;
                    border: none;
                    border-radius: 5px; 
                    color: white;  
                }
            }
        }
    }
}


