*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar{
    .container{
        .navbar_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navbar_small_box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 450px;
                a:hover{
                    font-size: 15px;
                    color: #35B8BE;
                }
                .small_img{
                background-color: #35B8BE;
                padding: 10px 15px;
                }
            }
        }
    }
}


